# Notebook1 Launch dataset and clean up

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
from scipy import stats
from scipy.stats import norm

/var/folders/4t/z94gcqws7zj_cqmw9fnrxbq00000gn/T/ipykernel_53383/1408595898.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv("/Users/dincceren/Desktop/1 Master/Stats/Notebook/donnees_vaccination_reelles_simulees.csv")
df.head()

,ID,Age,Vaccin,Dose,Région,Date de Vaccination
0,1,50,Pfizer,Booster,Occitanie,2023-12-16
1,2,67,Moderna,Deuxième dose,Auvergne-Rhône-Alpes,2023-11-03
2,3,44,Johnson & Johnson,Deuxième dose,Occitanie,2023-01-30
3,4,18,AstraZeneca,Première dose,Auvergne-Rhône-Alpes,2023-04-23
4,5,63,Johnson & Johnson,Deuxième dose,Auvergne-Rhône-Alpes,2023-10-05

In [4]:
df.dtypes

ID                      int64
Age                     int64
Vaccin                 object
Dose                   object
Région                 object
Date de Vaccination    object
dtype: object

In [5]:
df.describe()

                ID          Age
count  1000.000000  1000.000000
mean    500.500000    49.413000
std     288.819436    14.947035
min       1.000000    18.000000
25%     250.750000    39.000000
50%     500.500000    49.000000
75%     750.250000    59.250000
max    1000.000000    90.000000

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
missing_data = df.isnull().sum()